body {
    background-color: #def5ff;
}

p {
    background-color: #efe8fc;
    padding: 20px;
}

ul {
    background-color: #efe8fc;
    padding: 20px;
}

a:link {
    color: #a3297a;
}

a:visited {
    color: #0000b3;
}

a:hover {
    color: #66194d;
}

    nav {
        background-color: #efe8fc;
        padding: 10px;
        margin-bottom: 30px;
    }
 
    nav a {
     color: #def5ff;
 }

 nav a:hover {
     background-color: #b3f0ff;
 }

@media only screen and (max-width: 600px) {
    nav {
        background-color: #efe8fc;
        padding: 10px;
        margin-bottom: 30px;
    }
    nav a {
        display: block;
        viewport-fit: 100%;
        padding: 10px;
    }
    span {
        display: none;
    }