a:link {
    color: #0e040a;
}

a:visited {
    color: #010177;
}

a:hover {
    color: #000000;
}

nav {
    background-color: #f3d9fc;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #000000;
}

nav a:hover {
    background-color: #faefcc;
}

body {
    background-color: #eee2dc;
}

p {
    background-color: #dbb2eb;
    padding: 20px;
    line-height: 25px;
}

article {
    background-color: #dbb2eb;
    padding: 20px;
    line-height: 25px;
}

ul {
    background-color: #dbb2eb;
    padding: 20px;
    line-height: 25px;
}

@media only screen and (max-width: 600px) {
    nav {
        background-color: #f3d9fc;
        padding: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    nav a {
        display: block;
        viewport-fit: 100%;
        padding: 10px;
    }
    span {
        display: none;
    }
}